../.git
../.vscode
../.gitignore
../README.md
./mysql/sql
./mysql/var
./php/var

../smart-web/bootstrap/cache
../smart-web/storage/framework
../smart-web/storage/logs
../smart-web/vendor

../smart-api/bootstrap/cache
../smart-api/storage/framework
../smart-api/storage/logs
../smart-api/vendor

../smart-storage/media
